.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 21px 143px;
}

.content-wrapper h1 {
  font-size: 36px;
  color: #5D3C28;
}

.content-wrapper ul {
  display: flex;
}

.content-wrapper li {
  padding-left: 50px;
}

.mainvisual {
  height: 600px;
  width: auto;
  background-image: url(../image/mv.jpg);
  background-size: cover;
}

.mainvisual p {
  position: relative;
  top: 250px;
  left: 162px;
  font-size: 24px;
  color: #FFFFFF;
  width: 420px;
}

.greeting h1 {
  font-weight: normal;
  font-family: NotoSansJP-Bold;
  text-align: center;
}

.greeting div {
  width: 800px;
  margin: 140px auto;
}

.midashi1 {
  background: #FCF5F1;
  /* height: 741px; */
}

.midashi1 div {
  padding: 118px 0 96px;
}

.midashi1 h1 {
  text-align: center;
  margin-bottom: 60px;
  font-family: NotoSansJP-Bold;
  font-weight: normal;
}

.midashi1 ul {
  display: flex;
}

.midashi1 li {
  width: 400px;
  margin: auto ;
}

.midashi2 {
  height: 1277px;
}

.midashi2 h1 {
  text-align: center;
  padding: 160px 0 90px;
  font-family: NotoSansJP-Bold;
  font-weight: normal;
}

.midashi2 ul {
}

.midashi2 li {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.midashi2 h2 {
  padding: 45px 0 0 0;
  font-family: NotoSansJP-Bold;
  font-weight: normal;
}

.midashi2-text-a {
  padding-left : 30px;
}

.midashi2-text-b {
  padding-right: 30px;
}

.midashi2 p {
  width: 615px;
}

.midashi2 button {
  width: 240px;
  height: 65px;
  color: #FFFFFF;
  background: #5D3C28;
  text-align: center
}

.button {
  text-align: end;
}

.midashi3 {
  height: 750px;
  background: #FCF5F1;
}

.midashi3 h1 {
  text-align: center;
  font-family: NotoSansJP-Bold;
  font-weight: normal;
  padding: 117px 0 50px;
}

.midashi3 div {
  width: 1100px;
  margin: auto;
}

.midashi3 time {
  width: 100px;
  padding-right: 70px;
}

.midashi3 li {
  padding: 17px 0;
  border-bottom: 1px dotted #707070;
}

.midashi3-buttom {
  text-align: center;
  margin-bottom: 120px;
}

.midashi3 button {
  margin-top: 60px;
  width: 240px;
  height: 65px;
  color: #FFFFFF;
  background: #5D3C28;
  text-align: center
}

.info {
  height: 570px;
}

footer {
  height: 80px;
  background: #210E03;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #FEFEFE;
  padding-top: 30px;
}